@font-face {
    font-family: Rubik;
    src: url(../fonts/Rubik-VariableFont_wght.ttf);
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    font-family: Rubik;
    text-decoration: none;
    a {
        color: black;
    }
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    background: linear-gradient(-180deg, 
        #e0f7fa,
        #b3e5fc,
        #81d4fa,
        #4fc3f7,
        #29b6f6
    );
    background-size:cover;
    background-repeat: no-repeat;
}

header {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    padding: 6px;
    background-color: #e0f7fa;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.header-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 12px;
}

.content-boxes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: black;
}

footer {
    width: 100%;
    height: auto;
    padding: 10px;
    background-color: 29b6f6;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.footer-content {
    display: flex;
    flex-direction: column;
}

.global-nav-section {
    display: flex;
    flex-direction: row;
    li {
        list-style: none;
    }
    li > * {
        list-style: none;
        display: flex;
        flex-direction: column
    }
}

.connect-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 6px;
    .connect a {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 8px;
    }
}